<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pera">
                    <p><img src="../../assets/img/icons/header-top-span.png" alt=""> A Professional Technology & It Solution
                        Company Based On World</p>
                </div>
            </div>
        </div>
    </div>
</div>
<header>
    <div class="header-area header-area1 header-area-all d-none d-lg-block" id="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header-elements">
                        <div class="site-logo">
                            <a href="index.html">
                                <img src="../../assets/img/logo/header-logo1.png" class="logo" alt="">
                            </a>
                        </div>


                        <div class="main-menu-ex main-menu-ex1">
                            <ul>

                                <li><a routerLink="/">Home</a>
                                    <!-- <div class="tp-submenu">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="all-images-menu">
                                                    <div class="homemenu-thumb">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo1.png" alt="">
                                                        </div>
                                                        <div class="homemenu-btn">
                                                            <a class="header-btn1" href="index.html"
                                                                target="_blank">Multi Page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                            <div class="space16"></div>
                                                            <a class="header-btn1" href="single-index1.html"
                                                                target="_blank">One page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                        </div>
                                                        <a href="index.html" target="_blank" class="bottom-heading">Home
                                                            V1</a>
                                                    </div>

                                                    <div class="homemenu-thumb">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo2.png" alt="">
                                                        </div>
                                                        <div class="homemenu-btn">
                                                            <a class="header-btn1" href="index2.html"
                                                                target="_blank">Multi Page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                            <div class="space16"></div>
                                                            <a class="header-btn1" href="single-index2.html"
                                                                target="_blank">One page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                        </div>
                                                        <a href="index2.html" target="_blank"
                                                            class="bottom-heading">Home V2</a>
                                                    </div>


                                                    <div class="homemenu-thumb">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo3.png" alt="">
                                                        </div>
                                                        <div class="homemenu-btn">
                                                            <a class="header-btn1" href="index3.html"
                                                                target="_blank">Multi Page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                            <div class="space16"></div>
                                                            <a class="header-btn1" href="single-index3.html"
                                                                target="_blank">One page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                        </div>
                                                        <a href="index3.html" target="_blank"
                                                            class="bottom-heading">Home V3</a>
                                                    </div>

                                                    <div class="homemenu-thumb" style="margin: 0;">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo4.png" alt="">
                                                        </div>
                                                        <div class="homemenu-btn">
                                                            <a class="header-btn1" href="index4.html"
                                                                target="_blank">Multi Page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                            <div class="space16"></div>
                                                            <a class="header-btn1" href="single-index4.html"
                                                                target="_blank">One page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                        </div>
                                                        <a href="index4.html" target="_blank"
                                                            class="bottom-heading">Home V4</a>
                                                    </div>
                                                </div>

                                                <div class="space16"></div>
                                                <div class="all-images-menu">
                                                    <div class="homemenu-thumb">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo5.png" alt="">
                                                        </div>
                                                        <div class="homemenu-btn">
                                                            <a class="header-btn1" href="index5.html"
                                                                target="_blank">Multi Page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                            <div class="space16"></div>
                                                            <a class="header-btn1" href="single-index5.html"
                                                                target="_blank">One page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                        </div>
                                                        <a href="index5.html" target="_blank"
                                                            class="bottom-heading">Home V5</a>
                                                    </div>

                                                    <div class="homemenu-thumb">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo6.png" alt="">
                                                        </div>
                                                        <div class="homemenu-btn">
                                                            <a class="header-btn1" href="index6.html"
                                                                target="_blank">Multi Page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                            <div class="space16"></div>
                                                            <a class="header-btn1" href="single-index6.html"
                                                                target="_blank">One page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                        </div>
                                                        <a href="index6.html" target="_blank"
                                                            class="bottom-heading">Home V6</a>
                                                    </div>


                                                    <div class="homemenu-thumb">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo7.png" alt="">
                                                        </div>
                                                        <div class="homemenu-btn">
                                                            <a class="header-btn1" href="index7.html"
                                                                target="_blank">Multi Page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                            <div class="space16"></div>
                                                            <a class="header-btn1" href="single-index7.html"
                                                                target="_blank">One page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                        </div>
                                                        <a href="index7.html" target="_blank"
                                                            class="bottom-heading">Home V7</a>
                                                    </div>

                                                    <div class="homemenu-thumb" style="margin: 0;">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo8.png" alt="">
                                                        </div>
                                                        <div class="homemenu-btn">
                                                            <a class="header-btn1" href="index8.html"
                                                                target="_blank">Multi Page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                            <div class="space16"></div>
                                                            <a class="header-btn1" href="single-index8.html"
                                                                target="_blank">One page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                        </div>
                                                        <a href="index8.html" target="_blank"
                                                            class="bottom-heading">Home V8</a>
                                                    </div>
                                                </div>

                                                <div class="space16"></div>
                                                <div class="all-images-menu">
                                                    <div class="homemenu-thumb">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo9.png" alt="">
                                                        </div>
                                                        <div class="homemenu-btn">
                                                            <a class="header-btn1" href="index9.html"
                                                                target="_blank">Multi Page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                            <div class="space16"></div>
                                                            <a class="header-btn1" href="single-index9.html"
                                                                target="_blank">One page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                        </div>
                                                        <a href="index9.html" target="_blank"
                                                            class="bottom-heading">Home V9</a>
                                                    </div>

                                                    <div class="homemenu-thumb">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo10.png" alt="">
                                                        </div>
                                                        <div class="homemenu-btn">
                                                            <a class="header-btn1" href="index10.html"
                                                                target="_blank">Multi Page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                            <div class="space16"></div>
                                                            <a class="header-btn1" href="single-index10.html"
                                                                target="_blank">One page <i
                                                                    class="fa-solid fa-arrow-right"></i></a>
                                                        </div>
                                                        <a href="index10.html" target="_blank"
                                                            class="bottom-heading">Home V10</a>
                                                    </div>


                                                    <div class="homemenu-thumb active">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo11.png" alt="">
                                                            <img src="../../assets/img/demo/cooming.png" alt=""
                                                                class="coming">
                                                        </div>
                                                        <a href="#" class="bottom-heading">Home V11</a>
                                                    </div>

                                                    <div class="homemenu-thumb active" style="margin: 0;">
                                                        <div class="img1">
                                                            <img src="../../assets/img/demo/demo12.png" alt="">
                                                            <img src="../../assets/img/demo/cooming.png" alt=""
                                                                class="coming">
                                                        </div>
                                                        <a href="#" class="bottom-heading">Home V12</a>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div> -->
                                </li>

                                <li class="dropdown-menu-parrent"><a routerLink="/about-us">About </a>
                                    <!-- <ul>
                                        <li><a routerLink="/about-us">About</a></li>
                                        <li><a href="about2.html">About - Dark</a></li>
                                    </ul> -->
                                </li>

                                <li class="dropdown-menu-parrent"><a routerLink="/service">Service</a>
                                    
                                </li>

                                <li class="dropdown-menu-parrent"><a routerLink="/career">Career</a>
                                    
                                </li>

                                <li class="dropdown-menu-parrent"><a routerLink="/contact">Contact us</a>
                                    
                                </li>

                                <!-- <li class="dropdown-menu-parrent"><a href="#" class="main1">Pages <i
                                            class="fa-solid fa-angle-down"></i></a>
                                    <div class="mega-menu-all">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="mega-menu-single dis1">
                                                    <h3>Our Services</h3>
                                                    <ul>
                                                        <li><a href="service.html">Service</a></li>
                                                        <li><a href="service-details-left.html">Details Left</a></li>
                                                        <li><a href="service-details-right.html">Details Right</a></li>
                                                        <li><a href="service-details.html">Single Details</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="mega-menu-single">
                                                    <h3>News Letter</h3>
                                                    <ul>
                                                        <li><a href="blog.html">Blog</a></li>
                                                        <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                                        <li><a href="blog-details-left.html">Details Left</a></li>
                                                        <li><a href="blog-details-right.html">Details Right</a></li>
                                                        <li><a href="blog-details.html">Single Details</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="mega-menu-single">
                                                    <h3>Page's</h3>
                                                    <ul>
                                                        <li><a href="about.html">About Us</a></li>
                                                        <li><a href="contact.html">Contact Us</a></li>
                                                        <li><a href="team.html">Our Team</a></li>
                                                        <li><a href="testimonial.html">Testimonial</a></li>
                                                        <li><a href="error.html">ERROR 404</a></li>

                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="mega-menu-single">
                                                    <h3>Our Project's</h3>
                                                    <ul>
                                                        <li><a href="project.html">Project</a></li>
                                                        <li><a href="project-details-left.html">Details Left</a></li>
                                                        <li><a href="project-details-right.html">Details Right</a></li>
                                                        <li><a href="project-details.html">Single Details</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>

                                <li class="dropdown-menu-parrent"><a href="#">Blog <i
                                            class="fa-solid fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="blog.html">Blog <i class="fa-solid fa-angle-right"></i></a>
                                            <ul>
                                                <li><a href="#">Light <i class="fa-solid fa-angle-right"></i></a>
                                                    <ul>
                                                        <li><a href="blog.html">Blog - Light</a></li>
                                                        <li><a href="blog-sidebar.html">Blog Sidebar - Light</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Dark <i class="fa-solid fa-angle-right"></i></a>
                                                    <ul>
                                                        <li><a href="blog2.html">Blog - Dark</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li><a href="blog-details.html">Single Blog <i
                                                    class="fa-solid fa-angle-right"></i></a>
                                            <ul>
                                                <li><a href="#">Light <i class="fa-solid fa-angle-right"></i></a>
                                                    <ul>
                                                        <li><a href="blog-details-left.html">Details Left - Light</a>
                                                        </li>
                                                        <li><a href="blog-details-right.html">Details Right - Light</a>
                                                        </li>
                                                        <li><a href="blog-details.html">Blog Details - Light</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Dark <i class="fa-solid fa-angle-right"></i></a>
                                                    <ul>
                                                        <li><a href="blog-details-left2.html">Details Left - Dark</a>
                                                        </li>
                                                        <li><a href="blog-details-right2.html">Details Right - Dark</a>
                                                        </li>
                                                        <li><a href="blog-details2.html">Blog Details - Dark</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li> -->

                                <!-- <li class="dropdown-menu-parrent"><a href="#">Project <i
                                            class="fa-solid fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="project.html">Project <i class="fa-solid fa-angle-right"></i></a>
                                            <ul>
                                                <li><a href="#">Light <i class="fa-solid fa-angle-right"></i></a>
                                                    <ul>
                                                        <li><a href="project.html">Project - Light</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Dark <i class="fa-solid fa-angle-right"></i></a>
                                                    <ul>
                                                        <li><a href="project2.html">Project - Dark</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li><a href="blog-details.html">Single Project <i
                                                    class="fa-solid fa-angle-right"></i></a>
                                            <ul>
                                                <li><a href="#">Light <i class="fa-solid fa-angle-right"></i></a>
                                                    <ul>
                                                        <li><a href="project-details-left.html">Project Left - Light</a>
                                                        </li>
                                                        <li><a href="project-details-right.html">Project Right -
                                                                Light</a></li>
                                                        <li><a href="project-details.html">Project Details - Light</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Dark <i class="fa-solid fa-angle-right"></i></a>
                                                    <ul>
                                                        <li><a href="project-details-left2.html">Project Left - Dark</a>
                                                        </li>
                                                        <li><a href="project-details-right2.html">Project Right -
                                                                Dark</a></li>
                                                        <li><a href="project-details2.html">Project Details - Dark</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li> -->

                            </ul>

                        </div>



                        <div class="header1-buttons">
                            <!-- <div class="contact-btn">
                                <div class="icon">
                                    <img src="../../assets/img/icons/header1-icon.png" alt="">
                                </div>
                                <div class="headding">
                                    <p>Make a Call</p>
                                    <a href="tel:124(555)6565">124 (555) 6565</a>
                                </div>
                            </div> -->
                            <div class="button">
                                <a class="theme-btn1" href="contact.html">Get A Quote <span><i
                                            class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>